{% extends 'tailwind/Components/base.modal.html.twig' %}

{% form_theme form '@TalesFromADevFlowbite/form/default.html.twig' %}

{% block content %}
    <turbo-frame id="modal">
        {{ form_start(form) }}
        {% set participant = form.vars.value %}
        <div class="py-4 md:py-8">
            <div class="mb-4 grid gap-4 sm:grid-cols-2 sm:gap-8 lg:gap-16">
                <div class="space-y-4">
                    <div class="flex items-center">
                        <!-- Person avatar/icon -->
                        <div class="w-10 h-10 rounded-full bg-gray-200 flex items-center justify-center">
                            <span class="text-gray-600 font-medium">
                                {{ participant.person.initials }}
                            </span>
                        </div>
                        <div class="ml-4">
                            <div class="font-medium text-gray-900">{{ participant.person.fullName }}</div>
                            <div class="text-gray-500">{{ participant.person.email }}</div>
                        </div>
                    </div>
                </div>
                <div class="space-y-4">
                    <div class="flex items-center">
                        <div class="ml-4">
                            <div class="font-medium text-gray-900">Payment Time</div>
                            <div class="text-gray-500">{{ participant.paymentMethod }}</div>
                        </div>
{#                        <div class="flex items-center space-x-4 text-gray-500">#}
{#                            <div>#}
{#                                {{ form_row(form.paymentMethod) }}#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="mt-4 flex w-full gap-4">
{#                <div class="w-1/2">#}
                    {{ form_row(form.PayAtEncounter) }}
{#                </div>#}
{#                <div class="w-1/2">#}
                    {{ form_row(form.PaidAlready) }}
{#                </div>#}

            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </turbo-frame>
{% endblock %}

