<div{{ attributes }}>
    <div class="py-4 md:py-8">
        <div class="mb-4 grid gap-4 sm:grid-cols-2 sm:gap-8 lg:gap-16">
            <div class="space-y-4">
                <div class="flex items-center">
                    <!-- Person avatar/icon -->
                    <div class="w-10 h-10 rounded-full bg-gray-200 flex items-center justify-center">
                            <span class="text-gray-600 font-medium">
                                {{ participant.person.initials }}
                            </span>
                    </div>
                    <div class="ml-4">
                        <div class="font-medium text-gray-900">{{ participant.person.fullName }}</div>
                        <div class="text-gray-500">{{ participant.person.email }}</div>
                    </div>
                </div>
            </div>
            <div class="space-y-4">
                <div class="flex items-center">
                    <div class="ml-4">
                        <div class="font-medium text-gray-900">Payment Time</div>
                        <div class="text-gray-500">{{ participant.paymentMethod }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% if participant.CurrentEventPrayerTeamServer is not null and participant.CurrentEventPrayerTeamServer.PrayerTeam is not null %}
            <div class="flex items-center p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div class=" text-xl">
                    <span class="font-medium">Prayer Team Assignment:</span> {{ participant.CurrentEventPrayerTeamServer.PrayerTeam.name }}
                </div>
            </div>
        {% else %}
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <p><span class="font-medium text-lg">Action Needed! </span>Please check in with "Registration" to get Prayer Team Assignment.</p>
            </div>
        {% endif %}

        <div class="mt-4 flex w-full gap-4">
            <div class="w-1/2">
                <button
                        class="js_button-at-encounter w-full px-6 py-3.5 text-base font-medium text-white inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        data-action="live#action"
                        data-live-action-param="atEncounter"
                >
                    Pay at Encounter
                </button>
            </div>
            <div class="w-1/2">
                <button
                        class="js_button-paid w-full px-6 py-3.5 text-base font-medium text-white inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        data-action="live#action"
                        data-live-action-param="paid"
                >
                    Already Paid
                </button>
            </div>
        </div>
        
    </div>
</div>
